#FAQ {
    margin-top: 30vh;
}
.FAQText {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.FAQWrap {
    opacity: 0;
    border-left: 10px solid teal;
    padding-left: 30px;
}
.FAQT {
    font-family: "BioRhyme";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}
.FAQI {
    font-family: "Averta";
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
}
.FAQAnswer {
    display: flex;
    justify-content: center;
}
.FAQCover {
    margin-top: 60px;
}
.FAQCover > div {
    background-color: teal;
}
.cost {
    opacity: 0;
}
.compatible {
    opacity: 0;
}
.contactAd {
    opacity: 0;
}

@keyframes leftIn{
    0%{
        transform: translateX(-20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateX(0);
        opacity: 1;
        }
}
.leftIn{
    animation: leftIn 1 ease;
    animation-duration: 1.5s;
}