.PageHeader {
    display: flex;
    flex-wrap: wrap;
}
.PageHeader h1 {
    margin: 20px;
    font-family: "Bernier";
    font-size: 35px;
    font-style: normal;
    letter-spacing: 5px;
}
.Feature {
    margin-top: 100px;
    display: flex;
    flex-flow: column;
}
.first-order {
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}
.second-order {
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}
.third-order {
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
.bigBox {
    margin-left: 40px;
    display: flex;
    flex-flow: column;
    width: 330px;
    height: 170px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 12px 12px 25px black;
}
.bigBox:after {
    content: '';
    position: absolute;
    background: linear-gradient(36deg, rgba(219,35,35,1) 0%, rgba(255,198,10,1) 100%);
    width: 10px;
    height: 170px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.bigBox img {
    display:flex;
    margin: auto;
    width: 170px;
    height: 110px;
    padding: 5px;
}
.raffle-text {
    font-family: "BioRhyme";
    font-style: italic;
    font-weight: 900;
    font-size: 2em;
    text-align: center;
    padding: 5px;
    margin: 0px
}

.normalBox {
    margin:10px;
    margin-left: 40px;
    display: flex;
    flex-flow: column;
    width: 210px;
    height: 110px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 12px 12px 25px black;
}
.normalBox:after {
    content: '';
    position: absolute;
    background: linear-gradient(36deg, rgba(189,203,219,1) 0%, rgba(0,177,255,1) 100%);
    width: 8px;
    height: 110px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.normalBox > h1 {
    margin: 0px;
    font-family: "BioRhyme";
    font-style: italic;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding-top: 10px;
}
.normalBox img {
    height: 50px;
    padding: 5px;
}
.iconsvg {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.appear1 {
    animation: appear 1 ease;
    animation-duration: .8s;
}
.appear2 {
    animation: appear 1 ease;
    animation-duration: 1.3s;
}
.appear3 {
    animation: appear 1 ease;
    animation-duration: 1.8s;
}
.afteranimation {
    opacity: 1 !important;
}
@-webkit-keyframes appear {
    from {
        opacity: 0;
        transform: rotate(0) translateY(70%)
    } to {
        opacity: 1 !important;
        transform: rotate(0) translateY(0)
    }
}
@keyframes appear {
    from {
        opacity: 0 !important;
        transform: rotate(0) translateY(70%)
    } to {
        opacity: 1 !important;
        transform: rotate(0) translateY(0);
    }
}
@media only screen and (max-width: 650px) {
    .PageHeader {
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    .gmail-forward {
        display: none;
    }
}

@media only screen and (max-width: 540px) {
    .bigBox {
        margin: 0px
    }
    .normalBox {
        margin: 0px
    }
    .gmail-filter {
        margin-left: 10px
    }
    .spoof {
        margin-left: 10px
    }
}

@media only screen and (max-width: 445px) {
    .gmail-filter {
        margin-top: 20px;
        margin-left: 0px;
    }
    .spoof {
        margin-top: 20px;
        margin-left: 0px;
    }
}